*.swp
/include/
/lib/
/share/doc/
/share/Vrui-3.1/
/bin/AlignPoints
/bin/AlignTrackingMarkers
/bin/CalibrateProjector
/bin/DeviceTest
/bin/EyeCalibrator
/bin/KinectServer
/bin/KinectUtil
/bin/KinectViewer
/bin/MeasureEnvironment
/bin/OculusCalibrator
/bin/PrintInputDeviceDataFile
/bin/RawKinectViewer
/bin/SARndbox
/bin/ScreenCalibrator
/bin/VRDeviceDaemon
/bin/XBackground

